
    /* main colors */
$main-white:#fdfdfd;
$main-whiteish:#f8f8f8;
$main-blackish:#3b3b3b;
$main-blackish-font:rgba(59, 59, 59, 0.72);;
$main-redish:#da6666;
$main-purplish:#968798;
$main-grayish:#d5dadd;
$main-drk-blueish:#5fa8d2;
$main-lght-blueish:#69cbe8;
$main-blue:#16a2f7;
$main-rotten:#d7c783;

/*borders*/
$border-gray-size: 3px;
$border-gray-transp: rgba(0,0,0, 0.05);
$border-book:rgba(0,0,0, .085);

//transitions
$main-transition: .3s ease-in;
