/* :root {

    --main-white:#fdfdfd;
    --main-whiteish:#f8f8f8;
    --main-blackish:#3b3b3b;
    --main-blackish-font:rgba(59, 59, 59, 0.72);;
    --main-redish:#da6666;
    --main-purplish:#968798;
    --main-grayish:#d5dadd;
    --main-drk-blueish:#5fa8d2;
    --main-lght-blueish:#69cbe8;
    --main-blue:#16a2f7;
    --main-rotten:#d7c783;

    --border-gray-size: 3px;
    --border-gray-transp: rgba(0,0,0, 0.05);
    --border-book:rgba(0,0,0, .085);

    --main-transition: .3s ease-in;
} */

/* body {
    padding: 0;
    margin: 0;
    color:#efefef;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

p,h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}

img{
    background: black;
    width:100%;
    box-sizing: border-box;
    display: block;
} */
/* main grid style */
/* .site-wrapper {
    width:100%;
    min-height: 100vh;
}

.left-side {
    background: var(--main-blackish);
    width:17%;
    float:left;
    min-height: 96vh;
}

.right-side{
    background: var(--main-whiteish);
    width:83%;
    float:left;
    min-height: 96vh;
    max-height: 96vh;
    overflow: hidden;
}
.navigation-wrapper{
    width:100%;
}
.menu-wrapper{
    min-height: 8vh;
    max-height: 8vh;
    width: 100%;
    float:left;
} */

/* selected book */
/* .selected-book-wrapper{
    font-size:1.5rem;
    color:var(--main-blackish);
    min-height: 0;
    max-height: 0;
    width: 100%;
    float:left;
    transition:var(--main-transition);
}

.not-empty-book{
    min-height: 88.5vh;
    max-height: 88.5vh;
    transition:var(--main-transition);
    animation: appearSelected 2s;
}
@keyframes appearSelected {
    0% { opacity: 0 }
    100%{ opacity: 1 }
}
.inner-selected-wrapper{
    width:96%;
    margin: auto;
    position: relative;
}

.selected-title{
    width:100%;
    float:left;
}

.selected-title h1{
    display: inline;
}

.selected-info {
    width:80%;
    float:left;
}

.selected-info .selected-cover{
    min-width:30%;
    max-width: 30%;
    float:left;
}

.selected-cover img{

}

.selected-info .selected-details{
    width:69%;
    float:left;
    padding-left: 1%;
}

.selected-author{
    width:100%;
    float:left;
}

.selected-details p{

}

.selected-details p span{
    font-weight: 900;
}

.selected-tools{
    width:20%;
    float:left;
}
.selected-read-online{
    width:100%;
    float:left;
}
.selected-read-online a{
    display: inline;
    background: var(--main-blue);
    border-radius: .3rem;
    padding: .1rem 3rem;
    font-size:.7em;
    text-decoration: none;
    color:var(--main-white);
    box-shadow: 0px 3px #2980b9;
}
.selected-read-online a:active{
    position:relative;
    top:3px;
    box-shadow: 0px 0px #2980b9;
}
.selected-bookshelf{
    width:100%;
    float:left;
}
.selected-bookshelf button{
    outline: none;
    font-family: 'Raleway', sans-serif;
    border: none;
    display: inline;
    background: #d24d4d;
    border-radius: .3rem;
    padding: .1rem 3rem;
    font-size:.7em;
    text-decoration: none;
    color:var(--main-white);
    box-shadow: 0px 3px var(--main-redish);
}

.selected-bookshelf button:active{
    position:relative;
    top:3px;
    box-shadow: 0px 0px var(--main-redish);
}
.selected-bookshelf button:hover{
    cursor: pointer;
}

.selected-back{
    width: 100%;
    float:left;
    margin-top: 5vh;

}
.selected-back button{
    outline: none;
    color:rgba(0, 0, 0, 0.4);
    font-size:.95rem;
    width:40%;
    display: block;
    box-sizing: border-box;
    background: #f9f9f9;
    border: none;
    border-radius: .3rem;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2); 
    margin:auto;
    padding: .6rem 1rem;
    transition: var(--main-transition);
}
.selected-back button:hover{
    background: #f5f5f5;
    cursor: pointer;
    background: hover;
}
.selected-back button:active{
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
} */

/* .filter-wrapper{
    padding: .5rem 0;
    border-top: var(--border-gray-size) solid var(--border-gray-transp);
    border-bottom: var(--border-gray-size) solid var(--border-gray-transp);
    width:100%;
    min-height: 2vh;
    float: left;
    background: var(--main-white);
    transition:var(--main-transition);
}

.books-wrapper{
    padding: 2rem 0;
    width:100%;
    float:left;
    min-height: 77.5vh;
    max-height: 77.5vh;
    overflow-y: scroll;
    transition:var(--main-transition);
}
.reader-wrapper{
    padding: 2rem 0;
    width:100%;
    float:left;
    min-height: 77.5vh;
    max-height: 77.5vh;
    overflow-y: scroll;
    transition:var(--main-transition);
    color:black;
    position: relative;
}

.middle-wrapper{
    width: 93%;
    margin: auto;
}

.middle-reader-wrapper {
    max-width: 70%;
    margin: auto;
} */
/* 
footer{
    border-top: 3px solid var(--border-gray-transp);
    width:100%;
    float: left;
    min-height: 3.7vh;
    max-height: 3.7vh;
}

footer .credits{
    float:right;
}

.credits p{
    color:var(--main-blackish-font);
    font-size: .8rem;
    padding-right: 1rem;
    margin-top: .5rem;
}

.credits p a{
    color:var(--main-blackish-font);
    text-decoration: none;
}

.credits p a:hover{
    opacity:.8;
} */

/* books part */

/* 
.book-container{
    overflow: hidden;
}

.book-container .book{
    position: relative;
    margin: 0 1rem;
    margin-bottom: 2em;
    padding-bottom: .1rem;
    float:left;
    min-width: 170px;
    max-width: 170px;
    min-height: 300px;
    max-height: 300px;
    animation: slideIn .8s;
}

.book:hover{

}

.book .book-thumb{
    width:100%;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.7); 
}

.book-thumb img{
    width:100%;
    box-sizing: border-box;
    display: block;
}

.book .book-title{
    margin-top: .5em;
    float: left;
    width: 100%;
}

.book-title p{
    font-size: .95rem;
    display: inline;
    color:var(--main-blue);
    text-decoration: underline;
    font-weight: 600;
}
.book-title p:hover{
    cursor: pointer;
}

.book .book-author{
    position: absolute;
    bottom: 0;
    left: 0;
}

.book-author p{
    color:var(--main-blackish-font);
    margin: 0;
    padding: 0;
    font-size:.75rem;    
}

@keyframes slideIn {
    0% { opacity: 0 }
    100%{ opacity: 1 }
} */


/* NAVIGATION */
/* .nav-header{
    width:100%;
    float: left;
    min-height: 8vh;
    max-height: 8vh;
    background: #f14055;
    border-bottom: var(--border-gray-size) solid var(--border-gray-transp);
}


.nav-bookshelf{
    padding-top: 6%;
    width:100%;
    float:left;
}

.nav-bookshelf .inner-nav-bookshelf {
    width:90%;
    margin: auto;
}
.inner-nav-bookshelf h3{
    width:100%;
    float:left;
    font-size: 1em;
    font-weight: 300;
    color:gray;
    margin-bottom: .4rem;
}

.nav-bookshelf-list{
    width:100%;
    float:left;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-bookshelf-list li {
    overflow: hidden;
    padding: .3rem;
    position: relative;
    border-radius: 3px;
}
.nav-bookshelf-list li:hover {
    cursor: pointer;
    background: var(--main-blue)
}
.nav-bookshelf-list li:active {
    
}
.nav-bookshelf-list li p{
    font-family: 'Raleway';
    font-weight: 300;
    width:85%;
    float:left;
    margin-top: .3rem;
    margin-left: .4rem;
    font-size: .7rem;
}

.nav-img-book-container{
    overflow: hidden;
    min-height: 20px;
    min-width: 20px;
    max-width: 20px;
    max-height: 20px;
    float:left;
}
.nav-img-book-container img{
    width:100%;
    height: 100%;
}
.nav-redirect-to-bookshelf {
    float:left;
    width:100%;
}
.nav-redirect-to-bookshelf a{
    padding: .3rem;
    border-radius: 3px;
    border:1px solid rgba(128, 128, 128, 0.25);
    color: rgba(128, 128, 128, 0.25);
    text-decoration: none;
    margin:auto;
    margin-top: .5rem;
    width:94%;
    text-align: center;
    display: block;
    transition: var(--main-transition);
}
.nav-redirect-to-bookshelf a:hover{
    border:1px solid rgba(128, 128, 128, 1);
    color: rgba(128, 128, 128, 1);
}
.nav-redirect-to-bookshelf a:active{
    background: rgba(128, 128, 128, 0.25);
} */

/* TOOLTIPS */
/* .list-item-show-tooltip{
    background: var(--main-blue);
}
.list-item-tooltip{
    height: 100%;
    width:100%;
    position: absolute;
    left: 0;
    top:0;
    text-align: center;
    opacity: 0;
    transition: var(--main-transition);
    background: rgba(22, 162, 247, 0.5);;
}
.list-item-tooltip a{
    font-weight: 900;
    color:var(--main-white);
    text-decoration: none;
    display: block;
    width:100%;
    height: 100%;
    margin-top: .5rem;
    font-size: .8rem;
}
.list-item-show-tooltip > .list-item-tooltip{
    opacity: 1;
} */


/* READER */
/* .reader-wrapper .reader-burger {

}

.reader-wrapper .reader-settings {
    height: 50px;
    position: fixed;
    top: 0;
    left: 17%;
    min-width: auto;
    overflow: hidden;
    transition: var(--main-transition);
}

.reader-wrapper .reader-settings-open {
    min-width: 60%;
    transition: var(--main-transition);
}

.reader-settings:hover{
    cursor: pointer;
}
.reader-settings:hover > i{
    opacity:.5;
}

.reader-settings i {
    padding: 0rem 1rem;
    float:left;
    line-height: 50px;
    transition: var(--main-transition);
}

.reader-settings .reader-settings-dropdown{
    display: none;
    float:left;
    min-width: 86.5%;
    overflow: unset;
    transition: var(--main-transition);
    height: 100%;
    color:black;
    background: black;
    position: relative;
}

.reader-settings-open > .reader-settings-dropdown {
    display: block;
    overflow: unset;
    min-width: 86.5%;
    transition: var(--main-transition);
    color:var(--main-whiteish);
}
.reader-settings-dropdown:before {
    content:"\A";
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent black transparent transparent;
    position: absolute;
    left: 0;
}
.reader-settings-open > .reader-settings-dropdown:before {
    left: -15px;
    transition: var(--main-transition);
}


.reader-settings-dropdown:hover {
    cursor: default;
}

.reader-settings-dropdown .settings-size{
    width:9%;
    float: left;
}

.settings-size span{
    width:50%;
    float:left;
    text-align: center;
    font-weight: 600;
}
.settings-size span:hover {
    cursor: pointer;
    opacity: .5;
}
.settings-size span:first-of-type{
    font-size: 1rem;
    line-height: 2rem;
}
.settings-size span:last-of-type{
    font-size: 1.2rem;
    line-height: 1.8rem;
}
.reader-settings-dropdown .settings-font {
    width:30%;
    float:left;
}

.reader-settings-dropdown .settings-theme {
    width: 45;
    float:left;
}
.reader-settings-dropdown p {
    margin-top: .2rem;
    font-size:.5em;
    width:100%;
    float:left;
    text-align: center;
} */


.reader-wrapper #book-text{

}

#book-text #toc{

}

#book-text #themes {

}

#book-text #nota_red {
    
}

#book-text h1{

}

#book-test .person-list {

}

.person-list h3{
    
}

.person-list ol{
    
}

.person-list ol li{
    
}

.person-list ol li .person{
    
}

#book-text .target{
    
}
    
#book-text .anchor{
        
}
    

/* PARAGRAPS */
#books-text .paragraph {

}

.paragraph a{

}


/* STANZAS */
#books-text .stanza{
    
}

.stanza .verse{
    
}

.stanza .verse .theme-begin {

}

.stanza .target{

}

.stanza .anchor{

}

.stanza a{

}

.reader-wrapper #footnotes {

}


/* DIDASKALIA */
#book-text .didaskalia {

}


/* KWESTIA */
#book-test .kwestia {

}

/* END OF THE READ */